.keyframes(@name; @arguments) {
  @-moz-keyframes @name { @arguments(); }
  @-webkit-keyframes @name { @arguments(); }
  @keyframes @name { @arguments(); }
}
.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}
.seach-child{
  display: table-cell;
  color: #555;
  font-size: 16px;
}
@fold : all .3s cubic-bezier(0, 0.35, .5, 1.7);
.folding_mixin{
  transition: @fold;
  -webkit-transition: @fold;
  -moz-transition: @fold;
}
